<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--无参构造-->
    <!--<bean id="user" class="org.example.pojo.User">
        <property name="name" value="欧阳"/>
    </bean>-->

    <!--有参构造-->

    <!--下标赋值-->
    <!--<bean id="user" class="org.example.pojo.User">
        <constructor-arg index="0" value="欧阳"/>
    </bean>-->

    <!--类型赋值
        如果有两个参数且都为String则必须按照顺序-->
    <!--<bean id="user" class="org.example.pojo.User">
        <constructor-arg type="java.lang.String" value="欧阳"/>
    </bean>-->

    <bean id="user" class="org.example.pojo.User">
        <description>通过参数名称创建Bean</description>
        <constructor-arg name="name" value="欧阳"/>
    </bean>

    <bean id="person" class="org.example.pojo.Person" lazy-init="true">
        <description>不加属性默认使用无参构造，懒加载模式，不在ApplicationContext创建时就被实例化</description>
    </bean>

    <alias name="user" alias="userNew"/>


</beans>